html,
body {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.home {
  padding: 40px 30px 0 30px;
}

.nav-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
  border-right: 2px solid black;
  padding: 0 30px;
}

.nav-links li:last-child {
  border-right: none;
}

.calc-outer-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 0 0;
  row-gap: 50px;
}

.calc-box {
  width: 350px;
  height: max-content;
  border: 2px solid #333;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.result-box {
  height: 60px;
  width: 100%;
  background-color: #858694;
}

.result {
  float: right;
  font-size: 40px;
  color: #fff;
  padding-right: 10px;
}

.digits-box {
  width: 100%;
  background-color: #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.digits-input {
  height: 60px;
  border: 1px solid #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s;
}

.double-space {
  grid-column: 1 / span 2;
}

.operators {
  background-color: #f5913e;
}

.digits-input:hover {
  background-color: slategrey;
  color: #e0e0e0;
}

.quote-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  text-align: center;
}

@media (min-width: 768px) {
  .nav-bar {
    flex-direction: row;
  }

  .calc-outer-box {
    padding: 100px 0 0 0;
    flex-direction: row;
    justify-content: space-around;
  }

  .calc-box {
    margin-bottom: 0;
  }

  .quote-container {
    margin-top: 200px;
  }

  .quotes {
    padding: 0 150px;
  }
}
